//@import '../shared/styles/variables';

.about {
    section {
        padding: 0 2rem 2rem;
    }
    h2 {
        display: flex;
        align-items: center;
        .title-icon {
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
    &__desc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;

        img {
            justify-self: center;
            border-radius: 59% 41% 70% 30% / 34% 64% 36% 66%;
        }
    }

    &__competences {
        h3 {
            margin-top: 3rem;
        }
        &__group {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 2rem;
        }
        &__item {
            &__title {
                display: flex;
                align-items: center;

                img {
                    height: 30px;
                }

                &__name {
                    margin-left: 1rem;
                }
            }
            &__power {
                width: 70%;
                height: 5px;
                background-color: #151515;
                margin-top: 1rem;
                position: relative;

                &-grade {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #aac6f1;
                }
            }
        }
    }

    &__experience {
        padding: 0 4rem 2rem 4rem !important;

        &__item {
            display: grid !important;
            grid-template-columns: 1fr 6fr;
            column-gap: 2rem;
            align-items: center;

            &__logo {
                padding-left: 2rem;
            }

            &__title {
                font-weight: 700;
                font-size: 1.2rem;
                text-decoration: underline;
                span {
                    text-transform: uppercase;
                    font-weight: bolder;
                }
            }
        }
        .slick-prev:before {
            content: '\f053';
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
        }
        .slick-next:before {
            content: '\f054';
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
        }
    }
}

// .competence__svg {
//     fill: white;
// }

@media (max-width: 768px) {
    .about {
        img {
            max-height: 300px;
        }
        &__desc {
            grid-template-columns: 1fr;
        }
        &__etudes {
            grid-template-columns: 1fr;
        }
    }
}
