.home {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-size: cover;
    // background-position: left;
    padding: 2rem;

    &__lead {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 2fr;
        grid-template-areas:
            'title title title title'
            'quote quote image image'
            'quote quote image image'
            '. . button button';
        background-color: var(--card-bg);

        &__quote {
            grid-area: quote;
            justify-self: center;
            align-self: center;
            padding: 1rem 2rem;

            span {
                text-transform: uppercase;
                font-size: 1.5rem;
                line-height: 1.2;
                position: relative;
            }

            svg {
                position: absolute;
                height: 50px;

                &:first-child {
                    transform: rotateZ(180deg);
                    top: -20px;
                    left: -25px;
                }

                &:last-child {
                    bottom: -20px;
                    right: -25px;
                }
            }
        }
        &__image {
            display: flex;
            flex-direction: column;
            justify-self: center;
            grid-area: image;
            padding: 1rem;

            img {
                width: 280px;
            }
        }

        h1 {
            margin: -2rem;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            //color: #1e202a;
            font-size: 3rem;
            font-weight: bold;
            grid-area: title;
        }
        .custom-button {
            grid-area: button;
            justify-self: end;
            background-color: #16181f;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            border: none;
            padding: 1rem 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px 0 0 3px;

            &:hover {
                background-color: #101117;
            }
        }
    }
}

@media (max-width: 979px) {
}

@media (max-width: 768px) {
    .home {
        &__lead {
            width: 90%;
            grid-template-rows: 1fr 8fr 2fr 2fr;
            grid-template-areas:
                'title title title title'
                'image image image image'
                'quote quote quote quote'
                '. button button button';

            h1 {
                margin: -1.5rem auto;
                font-size: 2.5rem;
            }

            &__quote {
                padding: 2rem;
                br {
                    display: none;
                }
            }
        }
    }
}
