.home {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../shared/images/bg-home.jpg');
    background-size: cover;
    background-position: left;
    padding: 2rem;

    &__lead {
        width: 40%;
        margin-left: auto;
        padding: 4rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        h1 {
            margin: 0;
            padding: 1rem;
            font-family: 'Montserrat', sans-serif;
            color: #1e202a;
            font-size: calc(1.2rem + 2vw);
            margin-left: auto;
            font-weight: bold;
            border-radius: 3px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4),
                -5px -5px 5px 0px rgba(0, 0, 0, 0.6);
            background-color: rgba(255, 255, 255, 0.6);
        }
        .custom-button {
            background-color: var(--bg-color);
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            border: none;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

@media (max-width: 979px) {
}

@media (max-width: 768px) {
    .home {
        padding: 0 2rem;
        justify-content: center;
        &__lead {
            width: auto;
            padding: 2rem 0;

            h1 {
                font-size: 2rem;
            }
        }
    }
}
