body {
    --bg-color: #1e202a;
    --pale-text-color: #8b97c6;
    --main-text-color: #e2e2e2;
    --card-bg: #252a41;
    --card-bg-hover: #394265;
}

body.light {
    --bg-color: #fff;
    --main-text-color: #1e202a;
    --card-bg: #f0f2fa;
    --card-bg-hover: #d4d9ed;
}

.main-wrapper.light {
    --header-bg: #cecece;
    --title-bg: rgba(0, 0, 0, 0.1);
    --tip-title-bg: #bbb;
    --tip-card-overlay: rgba(0, 0, 0, 0.3);
    --default-text-color: rgba(0, 0, 0, 0.87);
}

.main-wrapper.dark {
    --header-bg: #1e242b;
    --title-bg: rgba(255, 255, 255, 0.1);
    --tip-title-bg: #fff;
    --tip-card-overlay: rgba(255, 255, 255, 0.3);
    --default-text-color: #e2e2e2;
}

$default-text-color: var(--default-text-color);
$header-bg: var(--header-bg);
$title-bg: var(--title-bg);
$tip-title-bg: var(--tip-title-bg);
$tip-card-overlay: var(--tip-card-overlay);
$footer-bg: $header-bg;

$primary: #2c2c2c;
$lightgrey: #dfdfdf;

$mainfont: ' Montserrat ', sans-serif;
$titlefont: 'Oswald', sans-serif;
