section.home {
    flex-grow: 1;
    background-image: url('../shared/images/bg-home.jpg');
    background-size: cover;
    background-position-x: left;
}

@media (max-width: 768px) {
    section.home {
        background-position-x: -135px;
    }
}
