@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

.main-wrapper.light {
    --header-bg: #fff;
    --title-bg: rgba(0, 0, 0, 0.1);
    --tip-title-bg: #bbb;
    --tip-card-overlay: rgba(0, 0, 0, 0.3);
    --default-text-color: rgba(0, 0, 0, 0.87);
}

.main-wrapper.dark {
    --header-bg: #151515;
    --title-bg: rgba(255, 255, 255, 0.1);
    --tip-title-bg: #fff;
    --tip-card-overlay: rgba(255, 255, 255, 0.3);
    --default-text-color: #e2e2e2;
}

$default-text-color: var(--default-text-color);
$header-bg: var(--header-bg);
$title-bg: var(--title-bg);
$tip-title-bg: var(--tip-title-bg);
$tip-card-overlay: var(--tip-card-overlay);
$footer-bg: $header-bg;

$primary: #2c2c2c;
$lightgrey: #9a9999;

$mainfont: ' Montserrat ', sans-serif;
$titlefont: 'Oswald', sans-serif;
