.tips {
    &-search {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        justify-content: space-between;
    }
    &-list {
        padding: 2rem 2rem 2rem calc(2rem + 30px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
    }
}

.tips-card {
    border-radius: 0 0 5px 5px;
    max-width: 250px;
    justify-self: center;

    a {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        //background-color: #090909;

        .tip-title {
            padding: 0.5rem 1rem;
            border-radius: 3px;
            position: absolute;
            width: 100%;
            background: rgba(255, 255, 255, 0.95);
            color: black;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            top: -25px;
            left: -35px;
            -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
            z-index: 1;
        }
        .tip-image {
            border-radius: 0 0 5px 5px;
            clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
            width: 100%;
            height: 50px;
            object-fit: cover;
        }
    }
}
